
<div class="container mt-5">
    <h1>A propos</h1>
    <h3>
        La société MIEL ROYAL a été fondée par ALI SAID, un passionné d'apiculture fort de cinq années 
        d'expérience dans le domaine. <br>
        Guidé par sa profonde compréhension du monde des abeilles et son engagement envers des pratiques 
        apicoles durables, Ali a décidé de partager son amour pour le miel en créant MIEL ROYAL. <br>
        Chez nous, chaque pot de miel est le fruit de cette expertise, de cette passion et de cet 
        engagement envers la préservation de l'environnement. <br>
        Nous sommes fiers de vous offrir des produits d'exception, façonnés par des années de travail et de
         dévouement à l'art de l'apiculture. <br>
         Découvrez notre sélection de miels uniques et rejoignez-nous dans cette aventure délicieuse et 
         savoureuse.

        

    </h3>
    
</div>
