<div class="container  mt-5" >
  <div align="right" class="m-2" >
    <button type="submit" mat-raised-button color="accent" (click)="Checkout()">Checkout</button>
</div>
<div  *ngIf="!verif" class="m-5 p-5 text-center" style="background-color: gold;">
  <h2 >Votre Carte est vide</h2>
</div>

    <table *ngIf="verif" mat-table [dataSource]="cartDetails" class="mat-elevation-z8">
        
        <ng-container matColumnDef="Nom">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product.nom}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="Description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product.description}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="Prix">
          <mat-header-cell *matHeaderCellDef> Prix </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product.prix}} </mat-cell>
        </ng-container>
        
          <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product.type}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Texture">
            <mat-header-cell *matHeaderCellDef> Texture </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product.texture}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button type="button" mat-raised-button color="warn" (click)="delete(element.cartId)">Supprimer</button>
            </mat-cell>
          </ng-container>
          
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>   
</div>
